<nav class="navbar navbar-expand-lg bg-light" xmlns:th="http://www.thymeleaf.org">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" th:text="#{label.shop}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{'/'}" th:text="#{label.home}"></a>
        </li>
        <li class="nav-item">
          <button type="button" class="nav-link bg-light" data-bs-toggle="modal" data-bs-target="#exampleModal" th:text="#{label.add}" style="border: none"></button>
        </li>

        <li class="nav-item">
          <a th:class="nav-link" th:classappend='${#locale.equals("ru") ? "active": ""}' href="?lng=ru">RU</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:classappend='${#locale.equals("en") ? "active": ""}' href="?lng=en">EN</a>
        </li>
      </ul>
    </div>
  </div>
</nav>