<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/styleForRequestProject.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="logo-title">
        CRM Система
      </div>
      <nav>
        <a class="nav-link" th:href="@{''}">Новые заявки</a>
        <a class="nav-link" th:href="@{''}">Обработанные заявки</a>
        <a class="nav-link" th:href="@{''}">+Добавить заявку</a>
        <a class="nav-link" th:href="@{''}">Все заявки</a>
      </nav>
    </div>
  </div>

  <div class="container">
    <div class="body-info">
      <div class="card">
        <div class="card-info">
          <div class="title">Заявка от Ильяс Жуанышев</div>
          <div class="sub-title">
            <div class="course">Курс: Java SE</div>
            <div class="comment">Хотел спростиь у вас, а сколько будет длится сам курс</div>
          </div>
          <div class="card-footer">
            <div class="tel-num">Тел: +77059811990</div>
            <div class="details">Подробнее</div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-info">
          <div class="title">Заявка от Ильяс Жуанышев</div>
          <div class="sub-title">
            <div class="course">Курс: Java SE</div>
            <div class="comment">Хотел спростиь у вас, а сколько будет длится сам курс</div>
          </div>
          <div class="card-footer">
            <div class="tel-num">Тел: +77059811990</div>
            <div class="details">Подробнее</div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-info">
          <div class="title">Заявка от Ильяс Жуанышев</div>
          <div class="sub-title">
            <div class="course">Курс: Java SE</div>
            <div class="comment">Хотел спростиь у вас, а сколько будет длится сам курс</div>
          </div>
          <div class="card-footer">
            <div class="tel-num">Тел: +77059811990</div>
            <div class="details">Подробнее</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
</html>